@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

p {
  font: 16px;
}

h2 {
  font-weight: 400;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
}
a:hover {
  color: #777;
  transition: all 0.3s;
}

header,
section,
nav,
article,
aside,
footer {
  display: block;
}

body {
  color: #f2f2f2;
  background-color: rgb(0, 0, 0);
}
body header {
  display: none;
  position: fixed;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 9;
}
body header h1 {
  font-size: 0.7em;
}
@media screen and (min-width: 768px) {
  body header h1 {
    font-size: 1em;
  }
}
body .active {
  background-color: #000;
  transition: all 1s ease;
}
body .deactive {
  background-color: transparent;
  transition: all 1s ease;
}
body main section.description-1 {
  overflow: hidden;
}
body main section.description-1 .banner-img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .banner-img {
    padding-top: 0;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .banner-img {
    transform: translateY(-17%);
  }
}
body main section.description-1 .confix .main-top {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 580px;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top {
    height: 780px;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top {
    height: 980px;
  }
}
body main section.description-1 .confix .main-top .hello {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: side-right-text 1.2s both;
          animation: side-right-text 1.2s both;
}
@-webkit-keyframes side-right-text {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes side-right-text {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
body main section.description-1 .confix .main-top .hello .hello-left {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  color: #ccc;
  opacity: 0.8;
  z-index: 1;
  transform: translateY(-120%);
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-left {
    font-size: 0.9em;
  }
}
body main section.description-1 .confix .main-top .hello .hello-text {
  width: 250px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  filter: drop-shadow(3px 4px 1px rgba(255, 255, 255, 0.7));
  transition: background 0.5s;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-text {
    width: 40vmax;
    height: 10vmin;
    line-height: 10vmin;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .hello-text {
    width: 35vmax;
    height: 11vmin;
    line-height: 11vmin;
  }
}
body main section.description-1 .confix .main-top .hello .hello-text p {
  font-size: 1.4em;
  text-align: center;
  color: #333;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-text p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .hello-text p {
    font-size: 2.5vw;
  }
}
body main section.description-1 .confix .main-top .hello .balloon_triangle {
  position: absolute;
  bottom: 0%;
  left: 50%;
  display: block;
  width: 0px;
  height: 0px;
  border-top: solid 30px #fff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  filter: drop-shadow(1px 4px 1px rgba(255, 255, 255, 0.7));
  transform: translate(-50%, 90%);
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .balloon_triangle {
    border-top: solid 50px #fff;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
    transform: translate(-50%, 95%);
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .balloon_triangle {
    border-top: solid 70px #fff;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    transform: translate(-50%, 95%);
  }
}
body main section.description-1 .confix .main-top .title-rotate-img {
  position: absolute;
  width: 4.5em;
  top: 36%;
  left: 65%;
  opacity: 0;
  -webkit-animation: title-rotate-img 2s 7000ms ease;
          animation: title-rotate-img 2s 7000ms ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes title-rotate-img {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(1080deg) scale(1);
    opacity: 1;
  }
}
@keyframes title-rotate-img {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(1080deg) scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title-rotate-img {
    top: 39%;
    width: 6.5em;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .title-rotate-img {
    top: 42%;
    left: 69%;
  }
}
body main section.description-1 .confix .main-top .introduce {
  position: absolute;
  top: 43%;
  left: 0%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .introduce {
    top: 47%;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .introduce {
    top: 49%;
  }
}
body main section.description-1 .confix .main-top .introduce .type-text {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .introduce .type-text {
    font-size: 3em;
    line-height: 55px;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .introduce .type-text {
    font-size: 4em;
    line-height: 80px;
  }
}
body main section.description-1 .confix .main-top .introduce .type-text .typing-txt {
  display: none;
}
body main section.description-1 .confix .main-top .introduce .type-text .typing ul li.on {
  display: inline-block;
  -webkit-animation: cursor 0.5s infinite;
          animation: cursor 0.5s infinite;
}
@-webkit-keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
body main section.description-1 .confix .main-top .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 1;
  -webkit-animation: text-up 5s 6500ms ease;
          animation: text-up 5s 6500ms ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title {
    top: 54%;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .title {
    top: 57%;
  }
}
@-webkit-keyframes text-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body main section.description-1 .confix .main-top .title p {
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title p {
    font-size: 2.4rem;
    line-height: 50px;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .title p {
    font-size: 3.5rem;
    line-height: 80px;
  }
}
body main section.description-1 .confix .main-top .title p .title-text {
  font-size: 1.3em;
  font-weight: bold;
  background: linear-gradient(to right, #55cc7c, #f5f97f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title p .title-text {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title p .title-text {
    font-size: 4rem;
  }
}
body main section.description-1 .confix .main-top .main-image1 {
  float: right;
  width: 35%;
  transform: translate(67%, -60%);
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image1 {
    transform: translate(57%, -65%);
  }
}
body main section.description-1 .confix .main-top .main-image1 img {
  width: 100%;
  -webkit-animation: spin-space 20s linear infinite;
          animation: spin-space 20s linear infinite;
}
@-webkit-keyframes spin-space {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spin-space {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
body main section.description-1 .confix .main-top .main-image2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding-left: 1%;
  transform: translateY(-40%);
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image2 {
    display: block;
  }
  body main section.description-1 .confix .main-top .main-image2 img {
    width: 18vmax;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .main-image2 img {
    width: 38vmin;
    transform: translate(-10%);
  }
}
body main section.description-1 .confix .main-top .main-image3 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image3 {
    display: block;
  }
}
body main section.description-1 .confix .main-top .main-image3 img {
  transform: translate(-90%, -70%);
  -webkit-animation: up-img1 15s ease;
          animation: up-img1 15s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes up-img1 {
  0% {
    margin-bottom: 0px;
    transform: scale(0);
  }
  100% {
    margin-bottom: 80em;
    transform: scale(1);
  }
}
@keyframes up-img1 {
  0% {
    margin-bottom: 0px;
    transform: scale(0);
  }
  100% {
    margin-bottom: 80em;
    transform: scale(1);
  }
}
body main section.description-2 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
body main section.description-2 .confix .vision {
  margin-top: 4rem;
  position: relative;
}
body main section.description-2 .confix .vision h2 span {
  font-size: 3.5rem;
  background: linear-gradient(to right, #eee, #666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .vision h2 span {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .vision h2 span {
    font-size: 5.5rem;
  }
}
body main section.description-2 .confix .vision p {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 30px;
  margin-top: 60px;
  padding-bottom: 30px;
  border-bottom: 3px solid #f9f9f9;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .vision p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .vision p {
    font-size: 1rem;
  }
}
body main section.description-2 .confix .vision .vision-image {
  position: absolute;
  bottom: -5%;
  right: 0;
}
body main section.description-2 .confix .vision .vision-image img {
  width: 6rem;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .vision .vision-image img {
    width: 7.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .vision .vision-image img {
    width: 9rem;
  }
}
body main section.description-2 .confix .up-img2 {
  position: absolute;
  bottom: -10%;
  right: 5%;
  width: 4vmax;
  display: none;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .up-img2 {
    display: block;
    z-index: 2;
  }
}
body main section.description-2 .confix .introduction {
  margin-top: 3em;
}
body main section.description-2 .confix .introduction h2 {
  text-align: left;
  margin-bottom: 1rem;
}
body main section.description-2 .confix .introduction h2 span {
  font-size: 2.5rem;
  background: linear-gradient(to right, #19fff4, #aeffae);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (min-width: 980px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table {
    justify-content: flex-start;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table {
  width: 100%;
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table {
    width: 100%;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr {
  line-height: 5vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr {
    line-height: 2.5rem;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr th {
  text-align: left;
  padding-right: 30px;
  font-size: 2.9vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr th {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr th {
    padding-right: 70px;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr td {
  font-size: 2.5vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-left table tr td {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 980px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right {
    margin-left: 4%;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right {
    margin-left: 10%;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table {
  width: 100%;
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr {
  line-height: 5vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr {
    line-height: 2.5rem;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr th {
  text-align: left;
  padding-right: 17px;
  font-size: 2.9vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr th {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr th {
    padding-right: 70px;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr td {
  font-size: 2.5vw;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal-table .personal-right table tr td {
    font-size: 1.1rem;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .ability {
  margin-top: 1rem;
  width: 100%;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .ability-text {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 3em;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability .ability-text {
    font-size: 1.5rem;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills {
  width: 100%;
  margin: 0;
  padding: 0;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts {
    justify-content: space-around;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart img {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 55%;
  z-index: 999;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart h2 {
  font-size: 1rem;
  text-align: center;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(1) circle {
  stroke: #4e88e1;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(2) circle {
  stroke: #b02629;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(3) circle {
  stroke: #19cdca;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(4) circle {
  stroke: #e4732a;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(5) circle {
  stroke: #b24a9c;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart:nth-child(6) circle {
  stroke: #4550a3;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart svg {
  width: 132px;
  height: 132px;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills .skills-charts .skills-chart svg circle {
  fill: #e8f5e9;
  stroke-width: 50;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  transform: rotate(-90deg) translate(1%, -3%);
  transform-origin: 50% 50%;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .modal-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box {
  position: fixed;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 30rem;
  border-radius: 10px;
  background-color: #bdbdbd;
  display: none;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box {
    top: 52%;
    left: 50%;
  }
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box .closeBtn {
  position: absolute;
  top: 1%;
  right: 7%;
  font-size: 3.5em;
  transform: translate(-1%, -7%);
  cursor: pointer;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box .skills-text {
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box .skills-text img {
  width: 10em;
}
body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box .skills-text p {
  font-size: 0.9em;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability .skills-modal .skills-modal-box .skills-text p {
    font-size: 1em;
  }
}
body main section.description-4 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}
body main section.description-4 .confix .direction-text {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-text {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
}
body main section.description-4 .confix .direction-text h2 {
  text-align: left;
}
body main section.description-4 .confix .direction-text h2 span {
  font-size: 3.5rem;
  background: linear-gradient(to right, #7530e3, #e1afcc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-text h2 span {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-4 .confix .direction-text h2 span {
    font-size: 5.5rem;
  }
}
body main section.description-4 .confix .direction-box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
body main section.description-4 .confix .direction-box .coding-box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box {
    width: 35%;
    margin-bottom: 3.75rem;
  }
}
body main section.description-4 .confix .direction-box .coding-box > img {
  width: 100%;
  padding: 5px;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box > img {
    width: 41vmin;
    padding: 0px;
    transition: all 0.5s;
  }
  body main section.description-4 .confix .direction-box .coding-box > img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox {
  display: flex;
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox {
    width: 100%;
  }
}
body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text {
  margin-bottom: 5rem;
}
body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text h2 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: justify;
}
body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text p {
  text-align: justify;
  line-height: 24px;
}
body main section.description-5 {
  clear: both;
  overflow: hidden;
}
body main section.description-5 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
body main section.description-5 .confix .portfolio-1 {
  position: relative;
  z-index: 5;
  margin-top: 4em;
}
body main section.description-5 .confix .portfolio-1 .portfolio-header-text {
  position: absolute;
  left: 4%;
  top: 12%;
  z-index: 9;
  display: flex;
  width: 100%;
}
body main section.description-5 .confix .portfolio-1 .portfolio-header-text h2 span {
  font-size: 3.5rem;
  background: linear-gradient(to right, #f83600, #facc22);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-header-text h2 span {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-header-text h2 span {
    font-size: 5.5rem;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-1-parallelogra {
  display: block;
  width: 370%;
  background: linear-gradient(90deg, #515259, #515259);
  transform: translateX(-50%) skewY(10deg);
  height: 1100px;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-1-parallelogra {
    height: 825px;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box {
  width: 80%;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box {
    width: 100%;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box img {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box img {
    width: 50%;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box {
  margin-bottom: 6em;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box {
    width: 40%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box {
    width: 30%;
    padding-left: 4rem;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box h3 {
  width: 12em;
  font-size: 1.5em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box h3 {
    font-size: 2em;
    margin-bottom: 60px;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box p {
  width: 23em;
  line-height: 40px;
  letter-spacing: 2px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box p {
    line-height: 50px;
  }
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box p span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #000;
  transform: translateY(3px);
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box p strong {
  font-size: 1.3em;
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box a {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-1 .portfolio-box .portfolio-text-box a:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-2 {
  position: relative;
  z-index: 4;
}
body main section.description-5 .confix .portfolio-2 .portfolio-2-parallelogra {
  display: block;
  background: linear-gradient(90deg, #58a56b, #58a56b);
  width: 350%;
  height: 1100px;
  transform: translateX(-30%) skewY(-10deg);
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-2-parallelogra {
    height: 825px;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box {
  width: 80%;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box {
    width: 100%;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box img {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box img {
    width: 50%;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box {
  margin-bottom: 6em;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box {
    width: 40%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box {
    width: 30%;
    padding-left: 4rem;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box h3 {
  width: 12em;
  font-size: 1.5em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box h3 {
    font-size: 2em;
    margin-bottom: 60px;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box p {
  width: 23em;
  line-height: 40px;
  letter-spacing: 2px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box p {
    line-height: 50px;
  }
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box p span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #000;
  transform: translateY(3px);
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box p strong {
  font-size: 1.3em;
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box a {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-2 .portfolio-box .portfolio-text-box a:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-2 .portfolio-text-box p:nth-child(6) {
  margin-left: 113px;
}
body main section.description-5 .confix .portfolio-3 {
  position: relative;
  z-index: 2;
  height: 1180px;
}
body main section.description-5 .confix .portfolio-3 .portfolio-3-parallelogra {
  display: block;
  background: linear-gradient(90deg, #f1b37e, #f1b37e);
  opacity: 0.9;
  width: 350%;
  height: 1100px;
  transform: translateX(-40%) skewY(10deg);
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-3-parallelogra {
    height: 825px;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box {
  width: 80%;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box {
    width: 100%;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box img {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box img {
    width: 50%;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box {
  margin-bottom: 6em;
}
@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box {
    width: 40%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box {
    width: 30%;
    padding-left: 4rem;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box h3 {
  width: 12em;
  font-size: 1.5em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box h3 {
    font-size: 2em;
    margin-bottom: 60px;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box p {
  width: 23em;
  line-height: 40px;
  letter-spacing: 2px;
}
@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box p {
    line-height: 50px;
  }
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box p span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #000;
  transform: translateY(3px);
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box p strong {
  font-size: 1.3em;
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box a {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-3 .portfolio-box .portfolio-text-box a:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.5s;
}
body main section.description-5 .confix .portfolio-3 .portfolio-text-box p:nth-child(6) {
  margin-left: 113px;
}
body main section.description-6 {
  clear: both;
  overflow: hidden;
  height: 550px;
}
body main section.description-6 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
body main section.description-6 .confix h2 {
  text-align: left;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  body main section.description-6 .confix h2 {
    margin-bottom: 100px;
  }
}
body main section.description-6 .confix h2 span {
  font-size: 1.6em;
  background: linear-gradient(to right, #0dccff, #4760ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
body main section.description-6 .confix .moon-up-img {
  display: none;
}
@media screen and (min-width: 768px) {
  body main section.description-6 .confix .moon-up-img {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  body main section.description-6 .confix .moon-up-img .on {
    -webkit-animation: moon-img-turn 0.7s linear both;
            animation: moon-img-turn 0.7s linear both;
  }
  @-webkit-keyframes moon-img-turn {
    0% {
      transform: translate(750%, 0%) rotateZ(-360deg);
    }
    100% {
      transform: translate(190%, -132%) rotateZ(360deg);
    }
  }
  @keyframes moon-img-turn {
    0% {
      transform: translate(750%, 0%) rotateZ(-360deg);
    }
    100% {
      transform: translate(190%, -132%) rotateZ(360deg);
    }
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-6 .confix .moon-up-img .on1 {
    -webkit-animation: moon-img-turns 1s linear both;
            animation: moon-img-turns 1s linear both;
  }
  @-webkit-keyframes moon-img-turns {
    0% {
      transform: translate(1600%, 0%) rotate(-720deg);
    }
    100% {
      transform: translate(190%, -122%) rotate(360deg);
    }
  }
  @keyframes moon-img-turns {
    0% {
      transform: translate(1600%, 0%) rotate(-720deg);
    }
    100% {
      transform: translate(190%, -122%) rotate(360deg);
    }
  }
}
body main section.description-6 .confix .contact-text {
  font-size: 1.3em;
  text-align: center;
  line-height: 30px;
}
body main section.description-6 .confix .contact-text .contact-text-me {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  body main section.description-6 .confix .contact-text .contact-text-me .contact-br {
    display: none;
  }
}
body main section.description-6 .confix .contact-text .email-address {
  font-size: 2em;
}
body main section.description-6 .confix .contact-text .email-address-smalltext {
  font-size: 0.7em;
  margin-top: 10px;
  color: #666;
}
body main section.description-6 .confix .contact-text .email_greeting {
  margin-top: 30px;
}
body main section.description-6 .confix .moon-star-img {
  display: none;
}
@media screen and (min-width: 768px) {
  body main section.description-6 .confix .moon-star-img {
    display: block;
    position: absolute;
    bottom: -17%;
    left: 2%;
  }
  body main section.description-6 .confix .moon-star-img img {
    width: 96px;
    height: 117px;
    position: absolute;
    -webkit-animation: jump-img 0.8s infinite alternate;
            animation: jump-img 0.8s infinite alternate;
  }
  @-webkit-keyframes jump-img {
    0% {
      top: -100px;
    }
    100% {
      top: -200px;
    }
  }
  @keyframes jump-img {
    0% {
      top: -100px;
    }
    100% {
      top: -200px;
    }
  }
}
@media screen and (min-width: 1320px) {
  body main section.description-6 .confix .moon-star-img {
    left: 17%;
  }
}
body main section.description-6 .confix .contact-bottom {
  float: right;
  margin-top: 60px;
}
body main section.description-6 .confix .contact-bottom span {
  font-size: 1.1em;
  background: linear-gradient(to right, #0dccff, #4760ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
body main #up-arrow {
  position: fixed;
  right: 4%;
  bottom: 15%;
  cursor: pointer;
  z-index: 100;
}
body main #up-arrow img {
  width: 40px;
  height: 80px;
  -webkit-animation: up-arrow 2s linear infinite alternate;
          animation: up-arrow 2s linear infinite alternate;
}
@-webkit-keyframes up-arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-15%);
  }
}
@keyframes up-arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-15%);
  }
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px;
  background-color: #333;
}
body footer h2 {
  margin-left: 30px;
}