@import "_style.scss";
@import "_common.scss";
@import "_mixin.scss"; 


body {
    color: #f2f2f2;
    background-color: $main-backgroundcolor;
    header {
        display: none;
        position: fixed;
        top: 0%; left: 50%;
        width: 100%; height: 20px;
        line-height: 20px;
        text-align: center;
        transform: translateX(-50%);
        z-index: 9;
        h1 {
            font-size: 0.7em;
            @include responsive(tablet-size) {
                font-size: 1em;
            }
        }
    }
    .active{
        background-color: #000;
        transition: all 1s ease;
    }
    
    .deactive{
        background-color: transparent;
        transition: all 1s ease;
    }

    main {
        
        // TITLE 섹션
        section.description-1 {
            overflow: hidden;

            .banner-img {
                display: block;
                width: 100%;
                position: absolute;
                top: 0; left: 0;
                padding-top: 20%;
                z-index: -1;
                
                @include responsive(tablet-size) {
                    padding-top: 0;
                }
                @include responsive(pc-size) {
                    transform: translateY(-17%)
                }
            }
            
            .confix {
                .main-top {
                    @include padding-set();
                    @include confix();
                    
                    height: 580px;

                    @include responsive(tablet-size) {
                        height: 780px;
                    }

                    @include responsive(pc-size) {
                        height: 980px;
                    }

                    // HELLO
                    .hello {
                        position: absolute;
                        top: 18%; left: 50%; 
                        transform: translateX(-50%);
                        
                        //Hello 텍스트 나타나는 애니메이션
                        animation: side-right-text 1.2s both;
                        @keyframes side-right-text  {
                            0% {
                                transform: translateX(150%);
                                opacity: 0;
                            }
                            100% {
                                transform: translateX(-50%);
                                opacity: 1;
                            }
                        }

                        .hello-left {
                            position: absolute;
                            top: 0; right: 0;
                            font-size: 0.8em;
                            color: #ccc;
                            opacity: 0.8;
                            z-index: 1;
                            transform: translateY(-120%);

                            @include responsive(tablet-size) {
                                font-size: 0.9em;
                            }
                        }

                        .hello-text {
                            width: 250px; height: 60px;
                            line-height: 60px;
                            border-radius: 10px;
                            background-color: white;
                            cursor: pointer;
                            filter: drop-shadow(3px 4px 1px rgba(255,255,255,0.7));
                            transition: background 0.5s;

                            @include responsive(tablet-size) {
                                width: 40vmax; height: 10vmin;
                                line-height: 10vmin;
                            }
                            
                            @include responsive(pc-size) {
                                width: 35vmax; height: 11vmin;
                                line-height: 11vmin;
                            }
                            
                            p {
                                font-size: 1.4em;
                                text-align: center;
                                color: #333;
                                
                                @include responsive(tablet-size) {
                                    font-size: 3vw;
                                }
                                @include responsive(pc-size) {
                                    font-size: 2.5vw;
                                }
                            }
                        }

                        .balloon_triangle {
                            position: absolute;
                            bottom: 0%; left: 50%;
                            display: block;
                            width: 0px; height: 0px;
                            border-top: solid 30px #fff;
                            border-left: solid 15px transparent;
                            border-right: solid 15px transparent;
                            filter: drop-shadow(1px 4px 1px rgba(255,255,255,0.7));
                            transform: translate(-50%,90%);
                            transition: all 0.5s;

                            @include responsive(tablet-size) {
                                border-top: solid 50px #fff;
                                border-left: solid 25px transparent;
                                border-right: solid 25px transparent;
                                transform: translate(-50%,95%);

                            }

                            @include responsive(pc-size) {
                                border-top: solid 70px #fff;
                                border-left: solid 35px transparent;
                                border-right: solid 35px transparent;
                                transform: translate(-50%,95%);
                            }
                        }
                    }
                    
                    
                    .title-rotate-img {
                        position: absolute;
                        width: 4.5em;
                        top: 36%; left: 65%;
                        opacity: 0;
                        animation: title-rotate-img 2s 7000ms ease;
                        animation-fill-mode: both;
                        @keyframes title-rotate-img {
                            0% { transform: rotate(0deg) scale(0); opacity: 0; }
                            100% { transform: rotate(1080deg) scale(1); opacity: 1;}
                        }

                        @include responsive(tablet-size) {
                            top: 39%; 
                            width: 6.5em;
                        }
                        @include responsive(pc-size) {
                            top: 42%; left: 69%;
                        }
                    }

                    // introduce
                    .introduce {
                        position: absolute;
                        top: 43%; left: 0%;
                        width: 100%; 
                        @include responsive(tablet-size) {
                            top: 47%;
                        }
                        @include responsive(pc-size) {
                            top: 49%;
                        }

                        .type-text {
                            font-size: 1.7em;
                            font-weight: bold;
                            text-align: center;
                            @include responsive(tablet-size) {
                                font-size: 3em;
                                line-height: 55px;
                            }
                            @include responsive(pc-size) {
                                font-size: 4em;
                                line-height: 80px;
                            }

                            .typing-txt{display: none;}
    
                            .typing ul li.on {  
                                display: inline-block; 
                                animation: cursor 0.5s infinite; 
                            }

                            @keyframes cursor{ 
                                0%{border-right: 1px solid #fff} 
                                50%{border-right: 1px solid #000} 
                                100%{border-right: 1px solid #fff} 
                            }
                        }
                    }

                    // TITLE
                    .title {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;                  
                        opacity: 1;
                        @include responsive(tablet-size) {
                            top: 54%
                        }
                        @include responsive(pc-size) {
                            top: 57%
                        }

                        // TITLE 텍스트 애니메이션
                        animation: text-up 5s 6500ms ease;
                        animation-fill-mode: both;

                        @keyframes text-up {
                            0% { opacity: 0; }
                            100% { opacity: 1; }
                        }
                        
                        p {
                            font-size: 1.5em;
                            text-align: center;
                            @include responsive(tablet-size) {
                                font-size: 2.4rem;
                                line-height: 50px;
                            }
                            @include responsive(pc-size) {
                                font-size: 3.5rem;
                                line-height: 80px;
                            }
                            
                            .title-text {
                                font-size: 1.3em;
                                font-weight: bold;
                                background: $title-text;
                                @include gradienttitle();

                                @include responsive(tablet-size) {
                                    font-size: 3.3rem;
                                }
                                @include responsive(tablet-size) {
                                    font-size: 4.0rem;
                                }
                            }
                        }

                    }// TITLE 종료

                    // 회전하는 우주이미지
                    .main-image1 {
                        float: right;
                        width: 35%;
                        transform: translate(67%, -60%);
                        opacity: 0.9;
                        @include responsive(tablet-size) {
                            transform: translate(57%, -65%);
                        }
                        
                        // 회전하는 우주이미지 애니메이션
                        img {
                            width: 100%;
                            animation: spin-space 20s linear infinite;
                
                            @keyframes spin-space {
                                0% {
                                    transform: rotateZ(0deg);
                                }
                                100% {
                                    transform: rotateZ(360deg);
                                }
                            }
                        }
                        
                    }

                    // 외계인이랑 손잡는 이미지
                    .main-image2 {
                        position: absolute;
                        bottom: 0; left: 0;
                        display: none;
                        padding-left: 1%;
                        transform: translateY(-40%);
                        opacity: 0.9;

                        @include responsive(tablet-size) {
                            display: block;
                            img {
                                width: 18vmax;
                            }
                        }
                        @include responsive(pc-size) {
                            img {
                                width: 38vmin;
                                transform: translate(-10%);
                            }
                        }
                    } 

                    // 풍선 올라가는 이미지1
                    .main-image3 {
                        position: absolute;
                        bottom: 0; right: 0;
                        display: none;
                        @include responsive(tablet-size) {
                            display: block;
                        }
                        
                        img {
                            transform: translate(-90%, -70%);
                            animation: up-img1 15s ease;
                            animation-fill-mode: both;
    
                            @keyframes up-img1 {
                                0% {
                                    margin-bottom: 0px;
                                    transform: scale(0);
                                }
                                100% {
                                    margin-bottom: 80em;
                                    transform: scale(1);
                                }
                            }
                        }

                    } 
                }
            }
        } // section.description-1 종료
        

        // INTRODUCE 섹션
        section.description-2 {
            .confix {
                @include padding-set();
                @include confix();

                // VISION
                .vision {
                    margin-top: 4rem;
                    position: relative;

                    h2 {
                        span {
                            font-size: 3.5rem;
                            background: $vision-text;
                            @include gradienttitle();

                            @include responsive(tablet-size) {
                                font-size: 4.5rem;
                            }
                            @include responsive(pc-size) {
                                font-size: 5.5rem;
                            }
                        }
                    }
                    
                    p {
                        font-weight: 300;
                        font-size: 0.9rem;
                        line-height: 30px;
                        margin-top: 60px;
                        padding-bottom: 30px;
                        border-bottom: 3px solid #f9f9f9;

                        @include responsive(tablet-size) {
                            font-size: 0.9rem;
                        }
                        @include responsive(pc-size) {
                            font-size: 1rem;
                        }
                    }

                    .vision-image {
                        position: absolute;
                        bottom: -5%; right: 0;

                        img {
                            width: 6rem;
                            @include responsive(tablet-size) {
                                width: 7.5rem;
                            }
                            @include responsive(pc-size) {
                                width: 9rem;
                            }
                        }
                        
                    }
                }

                // 풍선올라가는 이미지2
                .up-img2 {
                    position: absolute;
                    bottom: -10%; right: 5%;
                    width: 4vmax;
                    display: none;
                    @include responsive(tablet-size) {
                        display: block;
                        z-index: 2;
                    }
                }

                // INTRODUCTION
                .introduction {
                    margin-top: 3em;
                    
                    // <introduction> 상위 텍스트
                    h2 {
                        text-align: left;
                        margin-bottom: 1rem;

                        span {
                            font-size: 2.5rem;
                            background: $int-text;
                            @include gradienttitle();
                        }
                    } 

                    .introduction-flex {
                        .personal-table {
                            @include responsive(tablet2-size) {
                                display: flex;
                                justify-content: space-between;
                            }
                            @include responsive(pc-size) {
                                justify-content: flex-start;
                            }
                            

                            .personal-left {
                                table {
                                    width: 100%;
                                    @include responsive(pc-size) {
                                        width: 100%;
                                    }

                                    tr {
                                        line-height: 5vw;
                                        @include responsive(tablet-size) {
                                            line-height: 2.5rem;
                                        }

                                        th {
                                            text-align: left;
                                            padding-right: 30px;
                                            font-size: 2.9vw;
                                            @include responsive(tablet-size) {
                                                font-size: 1.5rem;
                                            }
                                            @include responsive(pc-size) {
                                                padding-right: 70px;
                                            }
                                        }

                                        td {
                                            font-size: 2.5vw;
                                            @include responsive(tablet-size) {
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                }
                            }
                            .personal-right {
                                @include responsive(tablet2-size) {
                                    margin-left: 4%;
                                }
                                @include responsive(pc-size) {
                                    margin-left: 10%;
                                }
                                
                                table {
                                    width: 100%;
                                    tr {
                                        line-height: 5vw;
                                        @include responsive(tablet-size) {
                                            line-height: 2.5rem;
                                        }

                                        th {
                                            text-align: left;
                                            padding-right: 17px;
                                            font-size: 2.9vw;
                                            @include responsive(tablet-size) {
                                                font-size: 1.5rem;
                                            }
                                            @include responsive(pc-size) {
                                                padding-right: 70px;
                                            }
                                        }
                                        
                                        td {
                                            font-size: 2.5vw;
                                            @include responsive(tablet-size) {
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        // ability
                        .ability {
                            margin-top: 1rem;
                            width: 100%;

                            .ability-text {
                                font-size: 2.5vw;
                                font-weight: bold;
                                margin-bottom: 3em;
                                @include responsive(tablet-size) {
                                    font-size: 1.5rem;
                                }
                            }

                            .skills {
                                width: 100%;
                                margin: 0;
                                padding: 0;

                                .skills-charts {
                                    display: flex;
                                    justify-content: space-around;
                                    align-items:center;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    gap: 5px;
                                    @include responsive(pc-size) {
                                        justify-content: space-around;
                                    }

                                    .skills-chart{
                                        position: relative;
                                        cursor: pointer;
                                        z-index: 2;

                                        img {
                                            position: absolute;
                                            left: 50%;
                                            top: 35%;
                                            transform: translate(-50%,-50%);
                                            width: 55%;
                                            z-index: 999;
                                        }
                                        
                                        h2 {
                                            font-size: 1rem;
                                            text-align: center;
                                        }
                                        
                                        &:nth-child(1) circle {
                                            stroke: #4e88e1;
                                        }
                                        &:nth-child(2) circle {
                                            stroke: #b02629;
                                        }
                                        &:nth-child(3) circle {
                                            stroke: #19cdca;
                                        }
                                        &:nth-child(4) circle {
                                            stroke: #e4732a;
                                        }
                                        &:nth-child(5) circle {
                                            stroke: #b24a9c;
                                        }
                                        &:nth-child(6) circle {
                                            stroke: #4550a3;
                                        }
                                        
                                        svg {
                                            width: 132px;
                                            height: 132px;
                                            circle {
                                                fill : #e8f5e9;
                                                stroke-width: 50;
                                                stroke-dasharray: 220;
                                                stroke-dashoffset: 220;
                                                // animation: line 2s forwards;  
                                                transform: rotate(-90deg) translate(1%,-3%);
                                                transform-origin: 50% 50%;
                                            }
                                        }
                                        // @keyframes line {
                                        //     0% {stroke-dashoffset: 220;}
                                        //     100% {stroke-dashoffset: 0;}
                                        // }
                                    }
                                }
                            }

                            .modal-on {
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                z-index: 3;
                                backdrop-filter: blur(2px);
                            }

                            .skills-modal {
                                
                                .skills-modal-box {
                                    position: fixed;
                                    top: 73%; left: 50%;
                                    transform: translate(-50%,-50%);
                                    width: 15rem;
                                    height: 30rem;
                                    border-radius: 10px;
                                    background-color: #bdbdbd;
                                    display: none;
                                    z-index: 4;
    
                                    @include responsive(tablet-size) {
                                        top: 52%; left: 50%;
                                    }
    
                                    .closeBtn {
                                        position: absolute;
                                        top: 1%; right: 7%;
                                        font-size: 3.5em;
                                        transform: translate(-1%, -7%);
                                        cursor: pointer;
                                    }
    
                                    .skills-text {
                                        padding: 1em;
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 3em;
    
                                        img {
                                            width: 10em;
                                        }
                                        p {
                                            font-size: 0.9em;
                                            text-align: justify;
                                            @include responsive(tablet-size) {
                                                font-size: 1em;
                                            }
                                        }
                                    }
                                }
                            }
                        } // ability종료
                    } // introduction-flex종료
                } // introduction 종료
            } // confix
        } // section.description-2 종료


        // DIRECTION 섹션
        section.description-4 {

            .confix {
                @include padding-set();
                @include confix();
                overflow: hidden;

                .direction-text {
                    width: 100%;
                    margin-top: 5rem;
                    margin-bottom: 2rem;

                    @include responsive(tablet-size) {
                        margin-top: 10rem;
                        margin-bottom: 5rem;
                    }
                    
                    // <direction> 상위 텍스트
                    h2 {
                        text-align: left;
                        
                        span {
                            font-size: 3.5rem;
                            background: $dire-text;
                            @include gradienttitle();

                            @include responsive(tablet-size) {
                                font-size: 4.5rem;
                            }
                            @include responsive(pc-size) {
                                font-size: 5.5rem;
                            }
                        }
                    } 
                } // direction-text 종료

                // direction의 코딩 박스
                .direction-box {
                    width: 100%;

                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                    }
                    
                    .coding-box {
                        width: 100%;

                        @include responsive(tablet-size) {
                            width: 35%;
                            margin-bottom: 3.75rem;
                        }

                        > img {
                            width: 100%;
                            padding: 5px;
                            filter: drop-shadow(0px 0px 3px rgba(255,255,255,1));
                            border-radius: 15px;

                            @include responsive(tablet-size) {
                                width: 41vmin;
                                padding: 0px;
                                transition: all 0.5s ;

                                &:hover {
                                    transform: scale(1.1);
                                    transition: all 0.5s ;
                                }
                            }
                        }

                        .coding-box-textbox {
                            display: flex;
                            margin-top: 1em;

                            @include responsive(tablet-size) {
                                width: 100%;
                            }

                            .coding-box-text{
                                margin-bottom: 5rem;
                                h2 {
                                    font-weight: bold;
                                    margin-bottom: 20px;
                                    text-align: justify;
                                }
                                p { 
                                    text-align: justify;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }// direction-box 종료

            } // confix 종료
        } // section.description-4 종료


        // PORTFOLIO 섹션
        section.description-5 {
            clear: both;
            overflow: hidden;

            .confix {
                @include padding-set();
                @include confix();

                .portfolio-1 {
                    position: relative;
                    z-index: 5;
                    margin-top: 4em;

                    .portfolio-header-text {
                        position: absolute;
                        left: 4%; top: 12%;
                        z-index: 9;
                        display: flex;
                        width: 100%;
                        // <portfolio> 상위 텍스트
                        h2 {
                            span {
                                font-size: 3.5rem;
                                background: $port-text;
                                @include gradienttitle();
                                
                                @include responsive(tablet-size) {
                                    font-size: 4.5rem;
                                }
                                @include responsive(pc-size) {
                                    font-size: 5.5rem;
                                }
                            }
                        } 
                        
                    } // direction-text 종료
                    
                    .portfolio-1-parallelogra{
                        display: block;
                        width: 370%;
                        background: linear-gradient(90deg, #515259, #515259);
                        transform: translateX(-50%) skewY(10deg);
                        height: 1100px;
                        @include responsive(tablet-size) {
                            height: 825px;
                        }
                    }
                    @include port-text();
                }

                .portfolio-2 {
                    position: relative;
                    z-index: 4;

                    .portfolio-2-parallelogra{
                        display: block;
                        background: linear-gradient(90deg, #58a56b, #58a56b);
                        width: 350%;
                        height: 1100px;
                        @include responsive(tablet-size) {
                            height: 825px;
                        }
                        transform: translateX(-30%) skewY(-10deg);
                    }
                    @include port-text();

                    .portfolio-text-box p:nth-child(6){
                        margin-left: 113px;
                    }
                }

                .portfolio-3 {
                    position: relative;
                    z-index: 2;
                    height: 1180px;

                    .portfolio-3-parallelogra{
                        display: block;
                        background: linear-gradient(90deg, #f1b37e, #f1b37e);
                        opacity: 0.9;
                        width: 350%;
                        height: 1100px;
                        @include responsive(tablet-size) {
                            height: 825px;
                        }
                        transform: translateX(-40%) skewY(10deg);
                    }
                    @include port-text();

                    .portfolio-text-box p:nth-child(6){
                        margin-left: 113px;
                    }
                }

            } // confix
        } // section.description-5 종료


        // CONTACT 섹션
        section.description-6 {
            clear: both;
            overflow: hidden;
            height: 550px;
            .confix {
                @include padding-set();
                @include confix();

                // <contact> 상위 텍스트
                h2 {
                    text-align: left;
                    margin-bottom: 50px;
                    @include responsive(tablet-size) {
                        margin-bottom: 100px;
                    }
                    span {
                        font-size: 1.6em;
                        background: $cont-text;
                        @include gradienttitle();
                        
                    }
                }

                // 달위에 깃발 들고있는 이미지
                
                .moon-up-img {
                    display: none;
                    
                    @include responsive(tablet-size) {
                        display: inline-block;
                        position: absolute;
                        left: 50%; top: 50%;
                        
                        .on {
                            animation: moon-img-turn 0.7s linear both;
                            @keyframes moon-img-turn {
                                0% {transform: translate(750%,0%) rotateZ(-360deg);}
                                100% {transform: translate(190%,-132%) rotateZ(360deg);}
                            }
                        }
                    }
                    @include responsive(pc-size) {
                        
                        .on1 {

                            animation: moon-img-turns 1s linear both;
                            @keyframes moon-img-turns {
                                0% {transform: translate(1600%,0%) rotate(-720deg);}
                                100% {transform: translate(190%,-122%) rotate(360deg);}
                            }
                        }
                    }
                }

                // contact 가운데 텍스트
                .contact-text {
                    font-size: 1.3em;
                    text-align: center;
                    line-height: 30px;
                    .contact-text-me {
                        margin-bottom: 30px;
                        .contact-br {
                            @include responsive(tablet-size) {
                                display: none;
                            }
                        }
                    }

                    .email-address{
                        font-size: 2em;
                    }
                    .email-address-smalltext {
                        font-size: 0.7em;
                        margin-top: 10px;
                        color: #666;
                    }
                    .email_greeting {
                        margin-top: 30px;
                    }
                }

                // 달위에-낚시하는-이미지
                .moon-star-img {
                    display: none;
                    @include responsive(tablet-size) {
                        display: block;
                        position: absolute;
                        bottom: -17%; left: 2%; 
                        img {
                            width: 96px; height: 117px;
                            position: absolute;
                            animation: jump-img 0.8s infinite alternate;
                            @keyframes jump-img {
                                0% {top: -100px;}
                                100% {top: -200px;}
                            }
                        }
                    }
                    @include responsive(pc-size) {
                        left: 17%;
                    }
                }

                // </contact> 하위 텍스트
                .contact-bottom {
                    float: right;
                    margin-top: 60px;
                    span {
                        font-size: 1.1em;
                        background: $cont-text;
                        @include gradienttitle();
                    }
                } 
            } // confix
        } // section.description-6 종료

        #up-arrow {
			position: fixed;
			right: 4%; bottom: 15%;
			cursor: pointer;
			z-index: 100; 
            img {
                width: 40px; height: 80px;
                animation: up-arrow 2s linear infinite alternate;

                @keyframes up-arrow  {
                    0% {transform: translateY(0%);}
                    100% {transform: translateY(-15%);}
                }
            }
        }

    } // main
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding: 50px;
        background-color: #333;
        h2 {
            margin-left: 30px;
        }
    }
}