@charset "UTF-8";
/* viewport size */
/* vw 변환 function */
/**************************************************
   sub_CSS //  about_us
**************************************************/
.us_section {
  position: relative;
  overflow: hidden;
}
.us_section .us_visual {
  position: relative;
  padding: 0 3rem;
}
.us_section .us_visual .visual_img {
  width: 100%;
  height: 55.4rem;
}
.us_section .us_visual .visual_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.us_section .us_visual .txtbox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.us_section .us_visual .txtbox p.tit {
  font-family: "arpona", serif;
  font-weight: 600;
  font-size: 8rem;
  line-height: 1.01;
  color: #fff;
  text-shadow: 0px 0.2rem 0 rgba(19, 19, 9, 0.18);
}
.us_section .us_visual .txtbox p.txt {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.46;
  letter-spacing: -0.096rem;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0.2rem 0 rgba(19, 19, 9, 0.18);
}
.us_section .bg_sec {
  position: relative;
}
.us_section .bg_sec .about_bg01 {
  position: absolute;
  top: 0;
  right: 3rem;
  width: 77.5rem;
  height: 44.2rem;
  background-color: rgba(244, 238, 231, 0.6);
  z-index: -1;
}
.us_section .slogan_section02 {
  position: relative;
  margin: 0 auto 14rem;
  padding: 0 9.6rem;
  width: 100%;
}
.us_section .slogan_section02 .slogan_box {
  width: 100%;
  height: 51.1rem;
}
.us_section .slogan_section02 .slogan_box .slogan_bg {
  width: 100%;
  height: 100%;
  background: url(../images/aboutus/slogan.png) no-repeat center/cover;
  z-index: -1;
}
.us_section .slogan_section02 .txtbox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.us_section .slogan_section02 .txtbox p.tit {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: -0.112rem;
  text-align: center;
  color: #d3b5a6;
}
.us_section .slogan_section02 .txtbox p.txt {
  font-family: "arpona", serif;
  font-weight: 600;
  font-size: 7.5rem;
  line-height: 1.08;
  color: #d6a48b;
}
.us_section .bi_section {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 0rem 3rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.us_section .bi_section .txtbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.us_section .bi_section .txtbox p.tit {
  font-family: "arpona", serif;
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.16;
  color: #d6a48b;
}
.us_section .bi_section .txtbox p.txt {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.096rem;
  color: #454545;
  opacity: 0.8;
}
.us_section .bi_section .txtbox .downloads a {
  margin-right: 1rem;
}
.us_section .bi_section .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}
.us_section .bi_section .img img {
  width: 100%;
  height: 50.1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.us_section .history_section {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #ede3de), color-stop(20%, #f4eee7));
  background-image: linear-gradient(to right, #ede3de 30%, #f4eee7 20%);
}
.us_section .history_section .history_con {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 14rem;
  height: 75.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.us_section .history_section .history_con .m_tit {
  display: none;
}
.us_section .history_section .history_con .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.us_section .history_section .history_con .img img {
  width: 60.2rem;
  height: 48.1rem;
}
.us_section .history_section .history_con .txtbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.us_section .history_section .history_con .txtbox .tit {
  font-family: "arpona", serif;
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.16;
  color: #d6a48b;
}
.us_section .history_section .history_con .txtbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.us_section .history_section .history_con .txtbox ul li p {
  position: relative;
  font-size: 2.4rem;
  line-height: 2.83;
  letter-spacing: -0.096rem;
  color: #454545;
  opacity: 0.8;
}
.us_section .history_section .history_con .txtbox ul li p.year {
  font-weight: bold;
}
.us_section .history_section .history_con .txtbox ul li p.year span {
  margin-right: 1.5rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #d6a48b;
  vertical-align: middle;
  border-radius: 100%;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}
.us_section .history_section .history_con .txtbox ul li p.txt {
  font-weight: 300;
}

.con_section {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 15rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.con_section .left_box .txtbox .txt,
.con_section .right_box .txtbox .txt {
  padding-bottom: 1rem;
  opacity: 0.8;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.088rem;
  color: #454545;
}
.con_section .left_box .img {
  width: 65rem;
  height: 46.7rem;
}
.con_section .left_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con_section .left_box .txtbox .tit {
  font-family: "Nanum Myeongjo", serif;
  font-size: 6rem;
  line-height: 1.3;
  letter-spacing: -0.24rem;
  color: #d6a48b;
}
.con_section .left_box .txtbox .txt {
  padding: 1rem 0 8rem;
}
.con_section .right_box .img {
  width: 100%;
  height: 50.7rem;
}
.con_section .right_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con_section .right_box .txtbox {
  margin-top: 7rem;
}

/**************************************************
   sub_CSS //  product
**************************************************/
.product_wrap {
  overflow: hidden;
}
.product_wrap .product_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65rem;
  padding: 0 3rem;
}
.product_wrap .product_sec .product_bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(244, 238, 231, 0.6);
}
.product_wrap .product_sec .product_con {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_wrap .product_sec .product_con .txtbox {
  width: 48%;
}
.product_wrap .product_sec .product_con .txtbox > p.sub_tit {
  width: 26.8rem;
  height: 2.6rem;
}
.product_wrap .product_sec .product_con .txtbox > p.sub_tit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_wrap .product_sec .product_con .txtbox > p.tit {
  padding: 2rem 0 3rem;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.24rem;
  color: #d6a48b;
}
.product_wrap .product_sec .product_con .txtbox > p.txt {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.08rem;
  opacity: 0.8;
  color: #454545;
}
.product_wrap .product_sec .product_con .txtbox ul {
  margin-top: 5rem;
}
.product_wrap .product_sec .product_con .txtbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.product_wrap .product_sec .product_con .txtbox ul li:last-child p.tit {
  border-bottom: 1px solid #000;
}
.product_wrap .product_sec .product_con .txtbox ul li:last-child p.txt {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.product_wrap .product_sec .product_con .txtbox ul li p {
  height: 5rem;
  line-height: 5rem;
  font-size: 1.8rem;
  letter-spacing: -0.072rem;
}
.product_wrap .product_sec .product_con .txtbox ul li p.tit {
  -ms-flex-preferred-size: 10rem;
      flex-basis: 10rem;
  font-weight: 500;
  text-align: center;
  color: #5b5b5b;
  border-top: 1px solid #000;
}
.product_wrap .product_sec .product_con .txtbox ul li p.txt {
  width: 45.5rem;
  padding-left: 2.4rem;
  font-weight: normal;
  color: #747474;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.product_wrap .product_sec .product_con .subpro_swiper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product_wrap .product_sec .product_con .subpro_swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_wrap .product_sec .product_con .subpro_swiper .swiper-slide .subpro-slide img {
  width: 54.4rem;
  height: 31.9rem;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet {
  position: absolute;
  left: inherit;
  bottom: inherit;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: inherit;
  background: #fff;
  border: solid 1px #d1d1d1;
  opacity: 1;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet span {
  display: block;
  text-indent: -9999rem;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5.6rem;
  height: 3.3rem;
  background: url(../images/product/ico_pc1.png) no-repeat center/cover;
  opacity: 0.6;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet:nth-child(1) span::after {
  background: url("../images/product/ico_pc1.png") no-repeat center/cover;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet:nth-child(2) span::after {
  background: url("../images/product/ico_pc2.png") no-repeat center/cover;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet:nth-child(3) span::after {
  background: url("../images/product/ico_pc3.png") no-repeat center/cover;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet:nth-child(4) span::after {
  background: url("../images/product/ico_pc4.png") no-repeat center/cover;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet:nth-child(5) span::after {
  background: url("../images/product/ico_pc5.png") no-repeat center/cover;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet-active {
  border: solid 2px #d6a48b;
}
.product_wrap .product_sec .product_con .subpro_swiper .pagination_bullet .swiper-pagination-bullet-active span::after {
  opacity: 1;
}
.product_wrap .product_02 {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 11rem;
}
.product_wrap .product_02 .img {
  width: 100%;
  height: 47.4rem;
}
.product_wrap .product_02 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_wrap .product_02 .txtbox {
  position: absolute;
  top: 50%;
  left: 15rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.product_wrap .product_02 .txtbox .txt {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: -0.096rem;
  color: #7f6e65;
}
.product_wrap .product_02 .txtbox .tit {
  margin-top: 2rem;
  font-size: 7rem;
  font-weight: bold;
  line-height: 0.72;
  letter-spacing: -0.283rem;
  color: #d6a48b;
}
.product_wrap .product_02 .txtbox .tit span {
  font-weight: 500;
}
.product_wrap .con_section {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 15rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.product_wrap .con_section .left_box .txtbox .txt,
.product_wrap .con_section .right_box .txtbox .txt {
  padding-bottom: 1rem;
  opacity: 0.8;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.82;
  letter-spacing: -0.088rem;
  color: #454545;
}
.product_wrap .con_section .left_box .txtbox .sub_tit,
.product_wrap .con_section .right_box .txtbox .sub_tit {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.1rem;
  color: #8d837b;
}
.product_wrap .con_section .left_box .img {
  margin-top: 4rem;
  width: 65rem;
  height: 50.7rem;
}
.product_wrap .con_section .left_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_wrap .con_section .left_box .txtbox .tit {
  font-family: "arpona", serif;
  font-weight: 600;
  font-size: 5.5rem;
  line-height: 1.47;
  letter-spacing: -0.24rem;
  color: #d6a48b;
}
.product_wrap .con_section .left_box .txtbox .txt {
  padding: 0;
  padding-bottom: 1rem;
}
.product_wrap .con_section .right_box .img {
  width: 100%;
  height: 65.7rem;
}
.product_wrap .con_section .right_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_wrap .con_section .right_box .txtbox {
  margin-left: 5.5rem;
  margin-top: 12rem;
}
.product_wrap .con_section .right_box .txtbox .tit {
  font-family: "Nanum Myeongjo", serif;
  font-size: 5.5rem;
  line-height: 1.47;
  letter-spacing: -0.24rem;
  color: #d6a48b;
}
.product_wrap .con_section_m {
  display: none;
}
.product_wrap .product_04 {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.product_wrap .product_04 .slogan_box {
  width: 100%;
  height: 43.8rem;
}
.product_wrap .product_04 .slogan_box .slogan_bg {
  width: 100%;
  height: 100%;
  background: url(../images/product/slogan.png) no-repeat center/cover;
  z-index: -1;
}
.product_wrap .product_04 .txtbox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.product_wrap .product_04 .txtbox p.tit {
  font-family: "Nanum Myeongjo", serif;
  font-size: 5.5rem;
  line-height: 1.47;
  letter-spacing: -0.22rem;
  color: #8d5593;
}
.product_wrap .product_04 .txtbox p.txt {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.088rem;
  color: #8d837b;
}
.product_wrap .bg_sec {
  position: relative;
}
.product_wrap .bg_sec .product_bg01 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96rem;
  background-color: #f4eee7;
  z-index: -1;
}
.product_wrap .product_05 {
  position: relative;
  width: 100%;
  max-width: 146rem;
  margin: 0 auto;
  margin-top: 8.5rem;
  padding: 0 3rem 11rem;
}
.product_wrap .product_05 h2 {
  margin-bottom: 5rem;
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 0.73;
  letter-spacing: -0.22rem;
  text-align: center;
  color: #d6a48b;
}
.product_wrap .product_05 > ul {
  border-top: 0.2rem solid #000;
}
.product_wrap .product_05 > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.product_wrap .product_05 > ul > li .left_li, .product_wrap .product_05 > ul > li .right_li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_wrap .product_05 > ul > li .left_li > p, .product_wrap .product_05 > ul > li .right_li > p {
  padding: 2rem 3rem;
  opacity: 0.8;
  font-size: 2rem;
  letter-spacing: -0.08rem;
}
.product_wrap .product_05 > ul > li .left_li .tit, .product_wrap .product_05 > ul > li .right_li .tit {
  -ms-flex-preferred-size: 21rem;
      flex-basis: 21rem;
  font-weight: 500;
  color: #232323;
  background-color: rgba(0, 0, 0, 0.03);
}
.product_wrap .product_05 > ul > li .left_li .txt, .product_wrap .product_05 > ul > li .right_li .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
  color: #454545;
}
.product_wrap .product_05 > ul > li .left_li .txt b, .product_wrap .product_05 > ul > li .right_li .txt b {
  font-weight: 500;
}
.product_wrap .product_05 > ul > li .left_li .txt span.line, .product_wrap .product_05 > ul > li .right_li .txt span.line {
  margin: 0 1.3rem;
  display: inline-block;
  width: 0.1rem;
  height: 1.9rem;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}
.product_wrap .product_05 > ul > li .txtbox {
  padding: 2rem 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product_wrap .product_05 > ul > li .txtbox > .tit {
  padding-top: 6rem;
}
.product_wrap .product_05 > ul > li .txtbox > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_wrap .product_05 > ul > li .txtbox > li p {
  font-size: 2rem;
  letter-spacing: -0.08rem;
  color: #454545;
  opacity: 0.8;
  line-height: 2;
}
.product_wrap .product_05 > ul > li .txtbox > li .tit {
  -ms-flex-preferred-size: 6.2rem;
      flex-basis: 6.2rem;
  font-weight: bold;
  background-color: transparent;
}
.product_wrap .product_05 > ul > li .txtbox > li .txt {
  font-weight: 300;
  margin-left: 1.2rem;
}